@model IEnumerable<WebApplication.Models.BangHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>
<style>
    #btnCreate a {
        color: white;
    }
</style>
<button id="btnCreate" class="btn btn-success">
    @Html.ActionLink("Create New", "Create")
</button>
<hr />
<table id="myTable" class="table hover striped compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    <a title="Sửa" href="@Url.Action("Edit", new { id = item.id })" style="text-decoration: none;">
                        <button class="btn btn-sm btn-info">
                            ✎
                        </button>
                    </a>
                    <a title="Xóa" href="@Url.Action("Delete", new { id = item.id })">
                        <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align">
                            ❌
                        </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}